@import "tailwindcss";

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
}
@property --navbar-height {
  syntax: "<length>";
  inherits: false;
  initial-value: 52px;
}

.height-screen {
  min-height: calc(100vh - var(--navbar-height));
}

.height-navbar {
  height: var(--navbar-height);
}

option {
  background-color: #19263d;
}
select,
input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 16px !important;
}

.app-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media (min-width: 640px) {
  .app-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .app-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
