@import "tailwindcss";

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 400;
}

input,
textarea,
select,
.p-inputtext {
  font-size: 16px !important;
}

.app-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media (min-width: 640px) {
  .app-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .app-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
